<div>
  <hr>
  <h5>Register User</h5>
  <form>
    <p>
      <label for="username">username</label>
      <input type="text" name="username" id="username" placeholder="Username">
    </p>
    <p>
      <label for="password">password</label>
      <input type="password" name="password" id="password">
    </p>
    <button id="registerUser">register</button>
  </form>
  <hr>
  <hr>
  <h5>Login User</h5>
  <form>
    <p>
      <label for="lUsername">username</label>
      <input type="text" name="lUsername" id="lUsername" placeholder="Username">
    </p>
    <p>
      <label for="lPassword">password</label>
      <input type="password" name="lPassword" id="lPassword">
    </p>
    <button id="loginUser">login</button>
  </form>
  <hr>
</div>

<script src="/js/authUser.js"></script>